.parent{
  display: flex;
  align-items: center;
}
.LandingImage{
  position: relative;
  display: flex;
  justify-content: center;

}
h2{
  z-index: 1;
  position:absolute;
}

img{
  width: 80%;
  height: 500px;
  z-index:0;
}

.fadeFromTop{
    z-index: 2;
    position: absolute;
    height: 50px;
    width: 80%;
    background-image: linear-gradient(to bottom, #016CC2, transparent);
}