.parent{
  display: flex;
  align-items: center;
}
.LandingImage{
  position: relative;
  display: flex;
  justify-content: center;

}
h2{
  z-index: 1;
  position:absolute;

}
img{
  width: 80%;
  height:80%;
  z-index:0;
}
